<div class="wrapper">
  <form [formGroup]="form">
    <p style="color: red; text-align: left!important;">{{"INPUT_WARNING" | translate}}</p>
    <label for="arrayToSearch">{{"SEARCHED_ARRAY_LABEL" | translate}}</label>
    <input id="arrayToSearch" formControlName="inputData" class="input-field" type="text">
    <label for="searchedNumber">{{"SEARCHED_NUMBER_LABEL" | translate}}</label>
    <input id="searchedNumber" formControlName="searchedData" class="input-field" type="text">
    <button (click)="getData()" id="submit-btn">{{ 'SEARCH' | translate}}</button>
  </form>
</div>
