.wrapper {
  color: var(--main-text-color);
  display: flex;
  justify-content: space-around;
  background-color: var(--main-bg-color);
  border-radius: 0;
  padding: 0.5em 0;
}

.information-wrapper {
  width: 10em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
}

div, a {
  font-size: 0.9em;
}

a {
  display: inline-block;
  color: var(--main-text-color);
}

a:hover {
  scale: 1.03;
}
