.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}

/* Custom CSS to handle overflow */
.navbar .navbar-nav.overflow-visible {
  overflow: visible;
}

/* Custom CSS to position the dropdown */
.navbar-nav.overflow-visible .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 100%;
}

/* Custom CSS to center the dynamic navigation items */
.navbar-nav.navbar-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-nav.navbar-center .nav-item {
  flex: none;
  margin-right: 15px; /* Adjust this value as needed */
}

.navbar-nav.navbar-center .nav-link {
  padding-left: 10px; /* Adjust this value as needed */
  padding-right: 10px; /* Adjust this value as needed */
}
