.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}

.navbar .navbar-nav.overflow-visible {
  overflow: visible;
}

.navbar-nav.overflow-visible .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 100%;
}

.navbar-nav.navbar-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-nav.navbar-center .nav-item {
  flex: none;
  margin-right: 15px;
}

.navbar-nav.navbar-center .nav-link {
  padding-left: 10px;
  padding-right: 10px;
}
