<nav>
  <div class="left-nav-wrapper">
    <div class="left-nav">
      <!--    Logo/Home Button-->
      <a [routerLink]="'/home'"><img id="logo" src="assets/svgs/logo.svg" alt=""></a>
      <!--      Language Dropdown Start-->
      <div class="lang-container">
        <div class="lang-toggler"
             (click)="onClickToggleLangMenu()">Languages</div>
        <div class="lang-dropdown" [ngClass]="{show: isLanguageMenuCollapsed}">
          <button class="lang-button"
                  *ngFor="let language of languages"
                  (click)="onClickToggleLangMenu()">
            {{language.label}}
          </button>
        </div>
      </div>
      <!--        Language Dropdown End-->
    </div>
    <label (change)="changeAlgorithmTypesMenuDisplay()" class="burger-btn">
      <input type="checkbox" [checked]="isRightMenuCollapsed">
    </label>
  </div>
<!--  Algorithm Types List Start-->
  <ul class="right-nav" [ngClass]="{show: isRightMenuCollapsed}">
    <li *ngFor="let algo of typesOfAlgorithms">
      <a (click)="onClickHideTypesMenu()"
         [routerLink]="algo.value">
        {{algo.label}}</a>
    </li>
  </ul>
<!--  Algorithm Types List End-->
</nav>
