pre {
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: #282c34;
    color: white;
    font-family: 'Courier New', monospace;
    white-space: pre-wrap;
    margin: 1rem 0;
    justify-content: center;
    display: flex;
}

div {
    margin: 2rem 10rem;
}

h2 {
    text-align: center;
}