<div class="content-wrapper">
  <div class="welcoming-banner-wrapper">
    <h1 class="header-logo">ALGOPLAT</h1>
    <p>Explore algorithm magic at <b>Algoplat</b>! Unravel sorting, searching, recursion, hashing, and randomness. </p>
    <p>Start
      the journey now!</p>
  </div>
  <div class="algorithm-cards-wrapper">
    <div class="card">
      <h3>Algo Name</h3>
      <a href="">
        <img src="" alt="">
      </a>
    </div>
  </div>
  <div class="algorithm-information-wrapper">Brief Algo explanation and info</div>
</div>
