@keyframes background-animation {
  0%, 100% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
}

.welcoming-banner-wrapper {
  color: var(--main-text-color);
  padding: 4em 2em;
  background-image: linear-gradient(75deg, #a25af8, #8572ff, #748bfc, #7ab1fa, #748bfc, #8572ff, #a25af8);
  background-size: 400%;
  background-position: left;
  animation: background-animation 20s ease-in-out infinite;

  .header-logo {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
  }

  p  {
    font-size: 1.2em;
    text-align: center;
    width: 70%;
    margin: 1.5em auto;
  }
}

.content-wrapper {
  padding: 0;
}

.algorithm-cards-wrapper {
  display: flex;
  padding: 2em 0.4em;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .card {
    margin: 0.5em 0;
    flex: 0 0 calc(33.333% - 10px);
    justify-content: center;
    padding: 0.2em 0.3em;
    align-items: center;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 1em;
      margin-bottom: 0.4em;
    }

    a {
      margin-top: 0.2em;
      display: inline-block;
      content: '';
      width: 10em;
      height: 7em;
      background-color: red;
      border-radius: 0.5em;
    }

    //img {
    //  width: 2em;
    //  background-color: red;
    //}
  }
}

@media (min-width: 480px) and (max-width: 786px) {
  .welcoming-banner-wrapper {
    padding: 2em 1em;
  }
}
@media (max-width: 480px) {
  .welcoming-banner-wrapper {
    padding: 1em 0.5em;

    .header-logo {
      font-size: 1.2em;
    }

    p  {
      font-size: 1em;
    }
  }
}

