<div class="wrapper">
<!--  Left side to create array-->
  <div class="form-wrapper">
    <input *ngIf="creationTypeData == true"
           [(ngModel)]="arrayData"
           class="input-field"
           type="text"
           placeholder="Ex. 1, 2, 3, 4">
    <input *ngIf="creationTypeSize == true"
           [(ngModel)]="arraySize"
           class="input-field"
           type="number"
           placeholder="Ex. 5"
           max="8"
           min="1">

    <div>
      <button *ngIf="creationTypeData == false"
              class="btn"
              (click)="changeCreationTypeToData()"
      >Use Data</button>
      <button *ngIf="creationTypeSize == false"
              class="btn"
              (click)="changeCreationTypeToSize()"
      >Use Size</button>
      <button class="btn" (click)="createArray()">Create Array</button>
    </div>
  </div>

<!--  Right side to manipulate array-->
  <div class="form-wrapper">
    <input class="input-field column" #value type="text" placeholder="Value">
    <input class="input-field column" #index type="text" placeholder="Index">
    <button class="btn" (click)="setValue(value.value, index.value)">Set Value</button>
  </div>
</div>
