.creation-type-wrapper {
  margin: 0.5em;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 0.5em 1em;
  background-color: var(--main-bg-color-lighter);
  border: none;
  margin: 0.1em 0.5em;
  border-radius: 0.3em;
  color: var(--main-text-color);
  width: 10em;
}

.btn:hover {
  cursor: pointer;
}

.radio-buttons {
  display: none;
}

.input-field {
  width: 10em;
}

.input-field {
  margin: 0.5em;
}

label {
  display: block;
  width: fit-content;
}

.column {
  display: flex;
  flex-direction: row;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  vertical-align: center;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: column;
  }
}
