<div class="container-fluid border wrapper">
    <div class="row header bg-info">
        <div class="col text-center">INFORMATION</div>
    </div>
    <div class="row main-content">
        <div class="col-8 bg-danger text-center">
            ANIMATION
        </div>
        <div class="col">
            <!-- User Input Data -->
            <div class="container">
                <div class="row">
                    <div class="col">
                        <app-input></app-input>
                    </div>
                </div>
            </div>
            <!-- </form> -->
        </div>
    </div>
    <div class="row footer bg-success">
        <div class="col text-center">SOURCE CODE</div>
    </div>
</div>