
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$project-primary: mat.define-palette(mat.$indigo-palette);
$project-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$project-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$project-theme: mat.define-light-theme((
  color: (
    primary: $project-primary,
    accent: $project-accent,
    warn: $project-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($project-theme);

:root {
  --main-bg-color: #1b4e73;
  --main-text-color: white;
  --main-bg-color-lighter: #226ca2;
  --light-grey: grey;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Light", Arial, serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.container {
  height: fit-content;
  min-height: calc(100vh - 3.5em);
  padding: 3.5rem 15% 0;
  background-color: #e3e3e3;
}

.content-wrapper {
  width: inherit;
  background: var(--main-text-color);
  box-shadow: 0 0.5em 25px grey;
  padding: 1em 0 1em 0;
  font-size: 5vw;
  border-radius: 5px;
}

//TODO refactor
// .content-wrapper {
//   padding-top: 0.5em;
// }

// .header {
//   text-align: center;
//   font-size: 0.5em;
// }

.warning {
  color: red;
  text-align: left!important;
  display: block;
}

@media (max-width: 786px) {
  .container {
    padding: 3.5rem 0 0;
  }

  *{
    font-size: 22px;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
