:root {
  --main-bg-color: #1b4e73;
  --main-text-color: white;
  --main-bg-color-lighter: #226ca2;
  --light-grey: grey;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Light", Arial, serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.container {
  height: fit-content;
  min-height: calc(100vh - 3.5em);
  padding: 3.5rem 15% 0;
  background-color: #e3e3e3;
}

.content-wrapper {
  width: inherit;
  background: var(--main-text-color);
  box-shadow: 0 0.5em 25px grey;
  padding: 1em 0 1em 0;
  font-size: 5vw;
  border-radius: 5px;
}

//TODO refactor
// .content-wrapper {
//   padding-top: 0.5em;
// }

// .header {
//   text-align: center;
//   font-size: 0.5em;
// }

@media (max-width: 786px) {
  .container {
    padding: 3.5rem 0 0;
  }

  *{
    font-size: 22px;
  }
}
